<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @user.dob %>
</p>

<h3><%= @user.first_name%>'s Blog Posts</h3>
<% @user.blogs.each do |blog| %>
  <ul>
    <%= link_to blog_path(blog) do %>
      <li><%= blog.title %> </li>
    <% end %>
  </ul>
<% end %>

<br>
<h3><%= @user.first_name%>'s Comments</h3>
<% @user.comments.each do |comment| %>
  <ul>
    <%= link_to edit_blog_comment_path(comment.blog_id,comment.id) do %>
      <%= comment.body %>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
