<div class="index">
  <p id="notice"><%= notice %></p>
  <h2>
    <strong><%= @user.first_name %> <%= @user.last_name %></strong>
  </h2>

  <h5>
    <%= @user.dob %>
  </h5>

  <br>

  <h3 style="text-decoration:underline;"><%= @user.first_name%>'s Blog Posts</h3>
  <% @user.blogs.each do |blog| %>
    <ul>
      <%= link_to blog_path(blog) do %>
        <%= blog.title %>
      <% end %>
    </ul>
  <% end %>

  <br>
  <h3 style="text-decoration:underline;"><%= @user.first_name%>'s Comments</h3>
  <% @user.comments.each do |comment| %>
    <ul>
      <%= link_to edit_blog_comment_path(comment.blog_id,comment.id) do %>
        <%= comment.body %>
      <% end %>
    </ul>
  <% end %>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>
